# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.env/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# Data Files
data/processed/*
data/raw/*
data/database/*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
